<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <h1>HotelProject</h1>
    <p>Welcome to my booking project</p>
  </body>
</html>
