<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <section class="prompt bg-dark text-light">
        <h1 class="text-center">Sign up</h1>
        <form action="/signup" method="post">
            <section>
                <label for="username">Username</label>
                <input id="username" name="username" type="text" autocomplete="username" required>
            </section>
            <section>
                <label for="firstname">First Name:</label>
                <input id="firstname" name="firstname" type="text" autocomplete="firstname" required>
            </section>
            <section>
                <label for="lastname">Last Name:</label>
                <input id="lastname" name="lastname" type="text" autocomplete="lastname" required>
            </section>
            <section>
                <label for="new-password">Password</label>
                <input id="new-password" name="password" type="password" autocomplete="new-password" required>
            </section>
            <div class="d-grid col-6 mx-auto">
            <button type="submit" class="btn btn-danger">Sign up</button>
            </div>
        </form>
        <hr>
        <p class="help">Already have an account? <a href="/login">Sign in</a></p>
    </section>
    <div class="pb-5"></div>
</body>

</html>