body {
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
	height: 95vh; /* no scroll if scroll not needed */
	width: 100%;
	padding-top: 10vh;
	margin-bottom: 10vh;
	background-image: url('../images/hotelProject.jpg');
	background-position: 50% 0%;
	/* make the image fit all screens */
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
